AZURE_OPENAI_ENDPOINT = "https://<aoai-name>.openai.azure.com"
AZURE_OPENAI_API_KEY = "<aoai-api-key>"
AZURE_OPENAI_API_VERSION = "2024-05-01-preview"
AZURE_OPENAI_WHISPER_MODEL = "whisper"
AZURE_OPENAI_GPT_MODEL = "gpt-4o"
