AZURE_OPENAI_ENDPOINT = "https://<aoai-name>.openai.azure.com"
AZURE_OPENAI_API_KEY = "<aoai-api-key>"
AZURE_OPENAI_API_VERSION = "2024-06-01"
AZURE_OPENAI_EMBEDDING_MODEL = "text-embedding-3-large"
AZURE_OPENAI_GPT_MODEL = "gpt-4o"
