AGENTS_AZURE_OPENAI_ENDPOINT = "https://<aoai-name>.openai.azure.com"
AGENTS_AZURE_OPENAI_API_KEY = "<aoai-api-key>"
AGENTS_AZURE_OPENAI_API_VERSION = "2024-05-01-preview"
AGENTS_AZURE_OPENAI_GPT_MODEL = "gpt-4o"

AGENTS_LANGCHAIN_TRACING_V2 = "false"
AGENTS_LANGCHAIN_API_KEY = "<api-key>"
