AZURE_IOT_HUB_DEVICE_CONNECTION_STRING="HostName=<iot-hub-name>.azure-devices.net;DeviceId=<device-name>;SharedAccessKey=<shared-access-key>"
AZURE_IOT_HUB_CONNECTION_STRING="HostName=<iot-hub-name>.azure-devices.net;SharedAccessKeyName=service;SharedAccessKey=<shared-access-key>"
