AZURE_OPENAI_ENDPOINT = "https://<aoai-name>.openai.azure.com"
AZURE_OPENAI_API_KEY = "<aoai-api-key>"
AZURE_OPENAI_API_VERSION = "2024-05-01-preview"
AZURE_OPENAI_WHISPER_MODEL = "whisper"
AZURE_OPENAI_GPT_MODEL = "gpt-4o"

LANGCHAIN_TRACING_V2 = "true"
LANGCHAIN_API_KEY = "<your-api-key>"

BING_SUBSCRIPTION_KEY = "<your-api-key>"
BING_SEARCH_URL = "https://api.bing.microsoft.com/v7.0/search"
BING_SEARCH_K = 1
